*{
  margin:0;
  padding:0;
}
body{
background-color: rgb(245, 238, 220);
}

/*contenedor Principal*/
main{
  width:900px;
  height: 800px;
  margin: 30px auto;
  padding:20px;
  border: #2e9447 1px solid;
background-color: aliceblue;
}
/*Cabecera principal*/
.cabecera{
  height: 75px;
  padding:10px;
  background-color: rgb(233, 240, 245);
}
nav{ 
  height: 40px;
  }
.menu{
  margin-left: 60%; /*alineacion izquierda al medio del contenedor nav*/  
  margin-top: 0.5em;
  }
.menu li{
   display:inline; /*cambiar la presentacion de bloque por defecto a en linea*/
  
}
/*propiedades del enlace (etiqueta a)*/
.menu li a{ 
  font-size: 20px;
  padding:5px;  
  border-radius:5px 5px 0px 0px;
  background-color: black;
  color: rgb(255, 255, 255);
  text-decoration: none;
  }
  .menu li a:hover{
background-color: rgb(240, 141, 105);
color: rgb(21, 59, 95);

  }
.imagen{
  width:100px;
  float:left;
  margin:5px 20px;
}
article{
 height: 500px;
  width: 49%;
  float:left; 
}
aside{
  height: 500px; 
  margin-left:51%;
  }
footer{
    height: 100px;
    clear:both;
    background-color: rgb(218, 229, 238); height: 70px;
    
  }
footer div{
    float: left;
  }
.redes{
    float: right;
    margin-top: 0.5em;
    margin-right: 0.5em;
  }
hr{
height: 3px;
background-color: #3ec25a;
top: 26%;
margin: 10px;
}
.rojo{
background-color:red;

}
.amarillo{
background-color: rgb(235, 231, 33);
}
.azul{
 background-color: rgb(53, 53, 236); 
}
.morado{
 background-color: rgb(114, 112, 212); 
}
h1{
font-family: "Lobster", sans-serif;
text-align: center; color: aliceblue;

}
.Dise{
color: hsl(340, 98%, 56%);  
}
.Desarro{
color: #3ec25a;  
}
.We{
color: blue;  
}
.negro{
background-color: black;  
color: aliceblue;
font-style: italic;
}
.isil{
 background-color: rgb(30, 185, 196); 
 color: rgb(255, 255, 255);
}
#letras{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
}
